<ul>
  <li>
    <%= action_label :add, refinery.new_redirections_admin_redirection_path(dialog: true), t('.create_new') %>
  </li>
  <li>
    <%= link_to t('.list'), refinery.redirections_admin_redirections_path,
                 class: "manage_icon" %>
  </li>
</ul>
